<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
        

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  text-align: center;
}
body {
  background-image:url("https://i.ibb.co/rdXQBV9/camp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
    </style>
</head>

<body>
<img src="https://s7.gifyu.com/images/Bitcamp-Dynamic.gif" alt="Bitcamp-Dynamic.gif" border="0" />
<h3 class="center"><span> <kbd>Welcome back!</kbd> </span></h3><br>
<div class="container">
    <form class="form-horizontal" action="/auth/index" method="POST" id="Login">
  <div class="form-group">
    <label class="control-label col-sm-2" for="username"><kbd>Username:</kbd></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="password"><kbd>Password:</kbd></label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
<div class="col-sm-offset-2 col-sm-2">
 <div class="submit-button">
        <button type="submit" class="btn btn-default"><a href="/createAccount">Create an Account</a></button>
    </div>
    </div>
  
</div>
</body>
</html>