<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body{
    height: 100%;
    overflow: auto;
    background: rgb(30,18,96);
    background: linear-gradient(180deg, rgba(30,18,96,1) 0%, rgba(7,73,156,1) 37%, rgba(255,192,0,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}
</style>
</head>
<body>
    <div class="container">
  <h2>Preferences Quiz</h2>
      <form class="form-horizontal" action="/results" method="POST" id="quiz">
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
    <div class="form-group">
        <label>Property type:</label>
        <label class="checkbox-inline"><input type="checkbox" id="residential" value="1">Residential</label>
        <label class="checkbox-inline"><input type="checkbox" id="condominium" value="1">Condomonium</label>
    </div>
      <div class="form-group">
        <label for="rooms">Number of rooms:</label>
        <select class="form-control" id="rooms" name="rooms">
            <option>Any</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
        </select>
</div>
   <div class="form-group">
        <label for="bathrooms">Number of bathrooms:</label>
        <select class="form-control" id="bathrooms" name="bathrooms">
            <option>Any</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
</div>
<div class="form-group">
<label>Are you ok with multiple units in the building?</label>
      <label class="radio-inline"><input type="radio" id="yesUnits" value = "1" name="units">Yes</label>
        <label class="radio-inline"><input type="radio" id="noUnits" value = "0" name="units">No</label>
      </div>

      <div class="form-group">
  <label for="zipcode">Zipcode:</label>
  <input type="number" min="20000" max="29999" class="form-control" name="zipcode" id="zipcode">
</div>
<div class="form-group">
    <label>Show me properties in the following condition:</label>
    <label class="radio-inline"><input type="radio" id="poorCond" name="poorCond" value = "1" name="units">Yes</label>
    <label class="radio-inline"><input type="radio" id="fairCond" name="fairCond" value = "0" name="units">No</label>
    <label class="radio-inline"><input type="radio" id="avgCond" name="avgCond" value = "1" name="units">Yes</label>
    <label class="radio-inline"><input type="radio" id="goodCond" name="goodCond" name="units">No</label>
    <label class="radio-inline"><input type="radio" id="veryGoodCond" name="veryGoodCond" name="units">Yes</label>
    <label class="radio-inline"><input type="radio" id="excellentCond" name="excellentCond" value = "0" name="units">No</label>
</div>
      
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>